#name{
    border: none;
    background-color: beige;
}
#email{
    border: none;
    background-color: beige;
}
#phone{
    border: none;
    background-color: beige;
}
#work{
    border: none;
    background-color: beige;
}
#password{
    border: none;
    background-color: beige;
}
#cpassword{
    border: none;
    background-color: beige;
}
.signup{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.form-group{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.signin-link{
    margin-bottom: 10px;
    padding-left: 20px;
    text-decoration: none;
    color: #000;
}
.form-submit{
    justify-content: center;
    text-align: center;
}
.signup-title{
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 75px;
}
.signup-form{
    background-color: beige;
    height: 400px;
    width: auto;
    justify-content: center;
    text-align: center;
    padding-top: 33px;
    box-shadow: 10px 5px 5px ;
}